html, body{
    height: 100%;
}

header{
    display: flex;
    flex-direction: row; /* Eigenlijk onnodig want bij elke div waarbij je de display op flex zet staat flex-direction al op row */
    width: 100%;
    height: 10%;
    background-color: green;
    
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 90%;
  
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.menu-button{
    width: 100px;
    height: 50px;
    background-color: white;
    margin: 15px;
    
}

h1{
    width: 400px;
}

#links, #midden, #rechts{
    width: 20%;
    height: 20%;
    flex-direction: row;
    
}


nav {
 display: flex;
 flex-direction: row;
 justify-content: space-between;
 width: 100%;
}

body{
    margin: 0%;
}

footer{
    height: 100px;
    width: 100%;
    background-color: plum;

}

#links{
    margin-right: 20%;
}

#rechts{
    margin-left: 20%;
}
 
#deel1{
    height: 100%;
    width: 40%;
    background-color: blue;
}

#deel2{
    height: 100%;
    width: 60%;
    background-color: orange;
}

#knop{
    height: 8%;
    width: 18%;
    display: flex;
    flex-direction: column;
}